:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color: #dddddd;
  --background-color: #242424;
  --color-1: #35966f;
  --color-2: #42b883;
  color: var(--color);
  background-color: var(--background-color);
}
:root.light-theme {
  --color: #242424;
  --background-color: #dddddd;
  --color-1: #42b883;
  --color-2: #35966f;

}

a {
  font-weight: 500;
  color: #42b883;
  text-decoration: inherit;
}

a:hover {
  color: #35966f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  column-gap: 48px;
}

.country {
  display: grid;
  gap: 8px;
  grid-template-rows: 150px 100px;
}

p {
  margin: 0;
  text-align: left;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}