:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color: #dddddd;
  --background-color: #242424;
  --color-1: #35966f;
  --color-2: #42b883;
  color: var(--color);
  background-color: var(--background-color);
}
:root.light-theme {
  --color: #242424;
  --background-color: #dddddd;
  --color-1: #42b883;
  --color-2: #35966f;

}

a {
  font-weight: 500;
  color: #42b883;
  text-decoration: inherit;
}

a:hover {
  color: #35966f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  column-gap: 48px;
}

.country {
  display: grid;
  gap: 8px;
  grid-template-rows: 150px 100px;
}

p {
  margin: 0;
  text-align: left;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-country {
  padding: 0 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  place-items: center;
}

.single-country-name {
  margin: 0;
  grid-column: 1/3;
}

.single-country-nav {
  display: flex;
  justify-self: center;
  gap: 24px;
  grid-column: 1/3;
}

.single-country-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
}

.single-country-info-last {
  grid-column: 1/3;
}

.icon {
  stroke: var(--color-1);
  width: 32px;
  height: 32px;

  &:hover {
    stroke: var(--color-2);
  }
}

.back {
  display: flex;
  justify-self: end;
}

.settings {
  position: absolute;
  top: 8px;
  left: 32px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 24px;
}

button {
  border-radius: 8px;
  border: 2px solid var(--color-1);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  color: var(--color-1);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: var(--color);
  border-color: var(--color);
}

.search {
  padding-bottom: 48px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
}

.input {
  border: 2px solid var(--color-1);
  border-radius: 8px;
  background-color: var(--background-color);
  padding: 10px;
  font-size: 16px;

  &::placeholder {
    color: var(--color);
  }
}

.searched-country {
  border-bottom: 1px solid #35966f;
  padding: 24px;
  display: grid;
  grid-template-rows: 1fr min-content;
  place-items: center;
  margin-bottom: 48px;
}

.favourite-container {
  height: 100vh;
  background-color: var(--background-color);
  padding: 0 32px;
  border-right: 1px solid #35966f;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
}

.favourite {
  display: grid;
  gap: 12px;

}

.favourite-name {
  padding-top: 32px;
  margin-top: 0;
  color: var(--color-1);

}

.btn-favorite {
  cursor: pointer;
  font-size: 24px;
}

.fav {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: start;
}

.favorite_wrapper {
  visibility: hidden;
  width: 0;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.show {
  width: 300px;
  visibility: visible;
}

.btn-favorite{
  height: 24px;
  width: 24px;
}
.icon-1{
  height: 24px;
  width: 24px;
  stroke: #42b883;
  fill: #42b883;
}
.icon-2{
  height: 24px;
  width: 24px;
  stroke: #42b883;
}

